#line2 {
    width: 1000px;
    height: 6px;
    background-image: linear-gradient(90deg, #bbb5ce, #EBF3FC);
    top: 0px;
    position: absolute;
}

#mainarea {
    clear: both;
    width: 1000px;
    zoom: 1;
    overflow: auto;
    margin: 0 auto;
    margin-top: 77px;
    background-color: rgba(255, 255, 255, 0.85);
    position: relative;

}

#mainleft {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 220px;
    zoom: 1;
    overflow: auto;
    float: left;
}

#mainleft .navleft {
    margin-left: 15px;
    background-color: #fff;
    margin-bottom: 15px;
    border-radius: 8px;
    position: relative;

}

#mainleft table {
    margin-left: 15px;
    font-size: 11px;
    line-height: 33px;
    overflow: auto;
    zoom: 1;
    margin-top: -2px;

}

#mainleft table td {
    color: #565070;
    border-bottom: dashed 1px #ccc;
    position: relative;
}

#mainleft table td .texthighlight:hover {
    color: #F32F6C;
}

#mainleft table td .stright {
    float: right;
    font-size: 10px;
    color: #999;
    position: absolute;
    right: -2px;
    bottom: -9px;

}

#mainleft table tr:first-child td:last-child {
    border-bottom: none;
}

#mainleft table img {
    margin-left: 10px;
    margin-top: 3px;
    margin-bottom: 5px;
    border: 2px solid #60a6f3;
    border-radius: 50%;
    vertical-align: middle;
}

#mainleft table img:hover {
    border: 2px dashed #60a6f3;
    filter: brightness(110%);
}

#mainleft .line3 {
    width: 170px;
    height: 2px;
    position: absolute;
    top: 55px;
    left: 10px;
    background-image: linear-gradient(90deg, #bbb5ce, #EBF3FC);
}

#mainleft #alink {
    color: #8692D0;
    font-size: 13px;
    width: auto;
    margin-top: 5px;
    margin-left: 105px;
    height: 33px;
}

#mainleft #alink a {
    color: #8692D0;
}

#mainleft #alink a:hover {
    color: #F32F6C;
}


#mainright {
    zoom: 1;
    overflow: auto;
}

#mainleft_poi {
    position: fixed;
}

.mainright {
    float: right;
    width: 680px;
    overflow: auto;
    border: 3px solid #fff;
    border-radius: 8px;
    margin-right: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
}