body {
    margin: 0;
    display: grid;
    place-items: center;
}

#root {
    margin: 30px auto;
    height: 500px;
    width: 500px;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 2px 2px 5px #999999, -2px -2px 5px #999999;
}


code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}